@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #143317;
    color: #f6f6f6;
}

.titulo-destaque{
    color:  #4fe04f;
    
}

.imagem{
    width: 700px; 
}

.apresentacao{
    margin: 12% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
   
   
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulos{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    /* background-color: #4fe04f; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #4fe04f;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: "Montserrat", sans-serif;

}

.apresentacao__links__link:hover{
    background-color: #0b1b0d;
    transition: 0.3s;
}
