@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-destaque: #4fe04f;
    --cor-texto: #f6f6f6;
    --cor-fundo: #143317;
    --cor-rodape: #0b1b0d;
    --font-destaque: 'Krona One', sans-serif;
    --font-texto: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    height: 100%;
}

.cabecalho{
    padding: 2% 0% 0% 13%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-texto);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}

.imagem{
    width: 600px; 
    max-width: 100%;
}

.apresentacao{
    padding: 2.3% 13% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    flex: 1;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--font-destaque);
}

.titulo-destaque{
    color:  var(--cor-destaque);   
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--font-texto);
    line-height: 1.6;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulos{
    font-family: var(--font-destaque);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-destaque);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: var(--font-texto);

}

.apresentacao__links__link:hover{
    background-color: var(--cor-rodape);
    transition: 0.3s;
}

.rodape{ 
    padding: 24px;
    color:var(--cor-texto);
    background-color: var(--cor-rodape);
    text-align: center;
    font-family: var(--font-texto);
    font-size: 24px;
    font-weight: 400;
}